* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(blue, blueviolet); */
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: flex;
    color: white;
}


/* -------- header --------- */
header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
}

ul li {
    list-style-type: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.image-logo {
    width: 7rem;
    height: auto;
}






/* ------- main ------ */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.test {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
    
}

.all-div {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    border-radius: 1rem;
}

*, :after, :before {
    border: 0 solid #e2e8f0;
}

.imgg {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

/* ----------- */
.all-text {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 0.8rem;
}


.up {
    height: 10rem;
}


.down {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
}


/* -------------- */
.subject {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.second-sub {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 1.2rem;
    line-height: 1rem;
}


/* ------------- */
div .one {
    background-color: orange;
    font-size: 1.7rem;
    border-radius: 0.375rem;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
}

div .two {
    background-color: #6ee7b7;
    font-size: 1.7rem;
    border-radius: 0.375rem;
    font-weight: 800;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div button {
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-image: linear-gradient(#c4b5fd, #7c3aed);
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}